<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914650486810-3b2lpr7nul3oqnht30avj0pk7u7jdq2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914650486810-3b2lpr7nul3oqnht30avj0pk7u7jdq2a</string>
	<key>API_KEY</key>
	<string>AIzaSyA5jXm7PA5vdosP5t9VV0-ZJsOBxafnt-k</string>
	<key>GCM_SENDER_ID</key>
	<string>914650486810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AleksandarSavic.Market</string>
	<key>PROJECT_ID</key>
	<string>market-a5943</string>
	<key>STORAGE_BUCKET</key>
	<string>market-a5943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914650486810:ios:ab20ed6f06f8e8513919a3</string>
	<key>DATABASE_URL</key>
	<string>https://market-a5943.firebaseio.com</string>
</dict>
</plist>